// FONTS
$font-stack: Avenir, Helvetica, Arial, sans-serif;

// COLORS
$primary-white: white;
$primary-color-1: #D4A373;
$primary-color-2: #FAEDCD;
$primary-color-3: #FEFAE0;
$primary-color-4: #E9EDC9;
$primary-color-5: #CCD5AE;
$secondary-color-1: #bcb8b1;

$text-color-1: #5e3023;


// SPACINGS
$spacing-8: 8px;
$spacing-12: 12px;
$spacing-16: 16px;
$spacing-24: 24px;
$spacing-32: 32px;
$spacing-64: 64px;